/* Ourcats page preview box */

.ourcats-preview-link{
    max-width: 90%;
    width: 300px;
    height: 350px;
    border: 3px solid black;
    margin: auto;
}

.ourcats-preview-link:hover{
    cursor: pointer;
}

.ourcats-preview-link-title{
    text-align: center;
    font-size: x-large;
    height: 9.090909%;
    margin: 274px 0px 0px 0px;
}

.ourcats-preview-link img{
    display: block;
    float: left;
    object-fit: cover;
    width: 150px;
    height: 150px;
    filter: saturate(0.4);
}

/* Annoying popup */

.annoying-popup-background {
    background-color: rgba(1, 1, 1, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    display: none;
}

.annoying-popup-border {
    background-color: rgb(255, 0, 0, 1);
    z-index: 2; 
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    position:absolute;
}

.annoying-popup-textbox {
    background-color: rgb(255, 255, 255, 1);
    text-align: center;
    top: 1.5vw;
    left: 1.5vw;
    right: 1.5vw;
    bottom: 1.5vw;
    position:absolute;
    z-index: 3;
}

.annoying-popup-textbox button {
    font-size: 2vw;
    height:10%;
    width: 20%;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
    bottom: 10%;
    border: 0.3vw solid red;
}

.annoying-popup-textbox button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

/* Generic stuff */

html, body {
    font-family: 'Arial';
    position: relative;
    background-color: hsl(0, 0%, 95%);
    height: 99%;
    margin: 0.3%;
}

.main-wrapper{
    background-color: white;
    width: 70%;
    margin: auto;
    box-shadow: 5px 5px 7px 3px hsl(0, 0%, 55%);
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    display: block;
}

.written-content{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 100px;
}

.written-content h2{
    text-align: center;
}

.footer{     
    background-color: hsl(224, 100%, 84%);
    font-size: medium;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: auto;
    color: black;
    text-align: center;
    padding: 3px;
}